.fix-footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

.dataEntries {
    list-style: none;
    font-size: 24px;
}

.prefix {
    font-size: 24px;
    padding-right: 4px;
}

.warning {
    color: red;
    padding-left: 12px;
}